#row{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
#row > #copyright{
    position: relative;
    text-align: center;
}

/* CSS da página de login */
#login{
    background-image: url('../image/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#login-card{
    position: relative;
    top: 20%;
    border-radius: 15px;
}
#logo-login{
    position: relative;
    top: 10px;
    width: 120px;
    height: 70px;
}
.login-input > input {
    width: 330px;
    height: 40px;
    border-radius: 20px;
}
.login-input > .form-check{
    font-size: 12px;
}
.login-input > .form-check > label{
    position: relative;
    top: 2px;
}
#login-buttom{
    background-color: #00ffdc;
}

/* CSS da página de adicionar Startup */
.form-inse{
    position: relative;
    width: 90%;
    left: 20px;
}
#sub-cont{
    position: relative;
    margin-top: 30px;
    left: 10%;
}
#form-start{
    position: relative;
    width: 880px;
}
#title{
    margin-bottom: 10px;
}
.start{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start > input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
}
.start > button{
    position: relative;
    bottom: 63px;
    width: 150px;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    float: right;
}

/* CSS da página de trocar senha */
#sub-cont-trocar{
    position: relative;
    margin-top: 30px;
    left: 10%;
}
#form-start-trocar{
    position: relative;
    width: 880px;
}
#title-trocar{
    margin-bottom: 10px;
}
.start-trocar{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start-trocar > input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
}
.start-trocar > button{
    position: relative;
    bottom: 41px;
    width: 160px;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    float: right;
}