#row{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
#row > #copyright{
    position: relative;
    text-align: center;
}

/* CSS da página de login */
#login{
    background-image: url('../image/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#login-card{
    position: relative;
    top: 20%;
    border-radius: 15px;
}
#logo-login{
    position: relative;
    top: 10px;
    width: 140px;
    height: 80px;
    margin: 10px 0 10px 0;
}
.login-input > input {
    width: 330px;
    height: 50px;
    border-radius: 20px;
}
.login-input > .form-check{
    font-size: 12px;
}
.login-input > .form-check > label{
    position: relative;
    top: 3px;
}
.login-input > .btn-link{
    position: relative;
    left: 170px;
    bottom: 27px;
}
#login-buttom{
    position: relative;
    left: 5px;
    margin-top: -10px;
    background-color: #00ffdc;
    color: #FFFAFA;
    font-size: 22px;
    border-radius: 20px;
    border: 0px;
}
#login-buttom > .fas{
    position: relative;
    top: 2px;
    left: 6px;
}

/* CSS da página de adicionar Startup */
.form-inse{
    position: relative;
    width: 90%;
    left: 20px;
}
#sub-cont{
    position: relative;
    margin-top: 30px;
    left: 10%;
}
#form-start{
    position: relative;
    width: 880px;
}
#title{
    margin-bottom: 10px;
}
.start{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start > input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
}
.start > button{
    position: relative;
    bottom: 63px;
    width: 150px;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    float: right;
}

/* CSS da página de trocar senha */
#sub-cont-trocar{
    position: relative;
    margin-top: 30px;
    left: 10%;
}
#form-start-trocar{
    position: relative;
    width: 880px;
}
#title-trocar{
    margin-bottom: 10px;
}
.start-trocar{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start-trocar > input{
    width: 700px;
    height: 40px;
    border-radius: 20px;
}
.start-trocar > button{
    position: relative;
    bottom: 41px;
    width: 160px;
    height: 40px;
    border-radius: 13px;
    font-size: 18px;
    float: right;
}

/* CSS da página de Editais */
.edi{
    margin: 20px 0 30px 0;
}
.edital-logo{
    background-image: url('../image/edital-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.edital-logo > .container > h1{
    position: relative;
    color: #fff;
    font-size: 50px;
    left: 8%;
}
.container > #create-edital{
    position: relative;
    float: right;
    top: -20px;
    right: 8px;
}
.edital-card{
    position: relative;
    width: 16rem;
    height: 12rem;
    margin: 10px 6px 70px 6px;
}